<% include header %>

<div style="position:absolute;left:500px;top:90px">
    	<h1><u>Contest Rankings</h1>     
    
    </div>
    <div style="position:absolute;left:450px;top:170px">
            <% if(rank < ranking.length){ %>

    <h3>Congratulations! Your Rank is <%= rank %>! </h3>
    <%}%>
    
    </div>
    
    <div style="position:absolute;left:200px;top:250px">
    	 <table class='table table-condensed'>
    	 	<col width="200">
            <col width="200">
            <col width="200">
            <col width="200">
            <col width="10">
    	 	<tr>
    	 		<th><p align = "center">Rank</th>
    	 		<th><p align = "center">Nick</th>    	 		
                <th><p align = "center">Score</th>
                <th><p align = "center">Attempted</th>
                <th><p align = "center">Time Taken</th>
    	 	</tr>
            <% for(var i = 1; i <= ranking.length; i ++){ %>
    	 	<tr>
    	 		<td style="background:#F0F0F0;"><%=i%></td>
    	 		<td style="background:#F0F0F0;"><a href="/users/<%=ranking[i-1]["username"]%>" style="text-decoration:none"><font color="red"> <%=ranking[i-1]["username"]%></font></a></td>    	 		
                <td style="background:#F0F0F0;"><%=ranking[i-1]["solved"]%></td>
                <td style="background:#F0F0F0;"><%=ranking[i-1]["attempted"]%></td>
                <% if(parseInt(ranking[i-1]["time"] / 60000) == 30 ){ %>
                <td style="background:#F0F0F0;"><%=parseInt(ranking[i-1]["time"] / 60000) %>mins : 0 secs </td>
                <% } %>
                <% if(parseInt(ranking[i-1]["time"] / 60000) != 30 ){ %>
                <td style="background:#F0F0F0;"><%=parseInt(ranking[i-1]["time"] / 60000) %>mins: <%=parseInt((ranking[i-1]["time"] % 60000)/1000) %>secs</td>
                <% } %>
    	 	</tr>
            
    	 	<% } %>
   	</body>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-52998190-1', 'auto');
  ga('send', 'pageview');

</script>
   	</html>