<%include header %>
    
    

    

    

    <div class="jumbotron">
      <div class="container">
        <h1>Aptitutor!</h1>
        <p>Aptitutor is an aptitude assesment online platform which allows users to participate and compete in variuos online aptitude tests and evaluate their performance relative to other participants.<a href="#">Take a sample test...</a></p>
        <p><a class="btn btn-lg btn-danger" role="button">Get Started &raquo;</a></p>
      </div>
    </div>

    <div style="position:fixed;top:330px;left:600px"><b><h3>Top Rated</h3></b></div>

    <div style="position:fixed;left:530px;top:380px">
      <table style="width:270px">
        <tr>
          <th>#</th>
          <th>Nick</th>   
          <th>Rating</th>
        </tr>
        <tr>
        <% for(var i = 1; i <= ranking.length; i += 2){ %>
          
          <tr>
          <td style="background:#F0F0F0;"><%=i%></td>
          <td style="background:#F0F0F0;"><a href="/users/<%=ranking[i]["nick"]%>"><font color="red"><%= ranking[i-1]["nick"]%></font></a></td>    
          <td style="background:#F0F0F0;"><%=ranking[i]["rating"]%></td>
          </tr>
          
          
          <tr>
          <td><%= i + 1%></td>
          <td><a href="/users/<%=ranking[i]["nick"]%>" ><font color="red"><%=ranking[i]["nick"] %></font></a></td> 
          <td><%=ranking[i]["rating"]%></td>
          </tr>
          
          <% } %>
        

    <div class="panel panel-primary" style="position:fixed;left:920px;top:382px;width:300px">
            <div class="panel-heading" align="center">
              <h3 class="panel-title">Upcoming Rounds</h3>
            </div>
            <div class="panel-body" align="center" id = "timer">
              
            </div>
            
    </div>

    <div style="position:fixed;top:325px;left:230px">
      <h2>More</h2>
    </div>

    <div class="well" style="position:fixed;left:100px;top:380px;background:# #F8F8F8 ">
        <p>Aptitutor was developed with the purpose<br>of helping individuals develop and improve<br>their mathematical ability and problem solving<br>skills.Please feel free to reach out to us and<br>provide any valuable suggestions which might<br>help us in improving the site.</p>
      </div>
  </body>
  <script type = "text/javascript">
  var c = parseInt(<%= time %>);
      GetCount(c);
       function GetCount(amount){
  //console.log(amount);
        if(amount < 0){
      
          document.getElementById("timer").innerHTML = "Contest Started";
        }
  
  else{
    var temp = amount;
    days = 0;hours = 0;mins = 0;secs = 0;out = "";
    currd = 0; currhr = 0; currmin = 0; currsec = 0; currt = "";
    amount = Math.floor(amount/1000);
    days=Math.floor(amount/86400);
    amount %= 86400;
          
    hours = Math.floor(amount/3600);
    amount %= 3600;
          
    mins = Math.floor(amount/60);
    amount %= 60;
          
    secs=Math.floor(amount);
          
    if(days != 0){out += days +" day"+((days!=1)?"s":"")+": ";}
    if(days != 0 || hours != 0){out += hours +" hr"+((hours!=1)?"s":"")+": ";}
    if(days != 0 || hours != 0 || mins != 0){out += mins +" min"+((mins!=1)?"":"")+": ";}
    out += secs +" sec";

    
    document.getElementById("timer").innerHTML = '<a href="/contest/id/<%= upcoming[0]["id"]%>"> <h4><u><%= upcoming[0]["name"]%></u></a></h4><br> Starts In:<h4>' + out + '</h4>';        
    
    //console.log((temp - 1000));
    amount = (temp - 1000);   
    //console.log(amount);
    console.log(out);      
    setTimeout("GetCount("+amount+")", 1000);
  }
}
    </script>
</html>
