<% include headeroff %>

    <div style="position:absolute;left:525px;top:90px">
    	<h1><u>Rankings</h1>
    </div>
    <div style="position:absolute;left:150px;top:200px">
    	 <table class='table table-condensed'>
    	 	<col width="200">
            <col width="200">
            <col width="200">
            <col width="200">
            <col width="10">
    	 	<tr>
    	 		<th><p align = "center">Rank</th>
    	 		<th><p align = "center">Nick</th>
    	 		<th><p align = "center">Rating</th>
    	 		<th><p align = "center">Contests</th>
                <th><p align = "center">Problems Solved</th>
    	 	</tr>
            <% for(var i = start; i < start + size; i += 2){  %>
    	 	<tr>
    	 		<td style="background:#F0F0F0;"><%=i%></td>
    	 		<td style="background:#F0F0F0;"><a href="/users/<%=ranking[i-1]["nick"]%>" style="text-decoration:none"><font color="red"> <%=ranking[i-1]["nick"]%></font></a></td>
    	 		<td style="background:#F0F0F0;"><%=ranking[i-1]["rating"]%></td>
    	 		<td style="background:#F0F0F0;"><%=ranking[i-1]["contest"]%></td>
                <td style="background:#F0F0F0;"><%=ranking[i-1]["problem"]%></td>
    	 	</tr>
            <% if (i < start + size - 1){ %>
    	 	<tr>
    	 		<td><%=i+1%></td>
    	 		<td><a href="/users/<%=ranking[i]["nick"]%>" style="text-decoration:none"><font color="red"><%=ranking[i]["nick"]%></font></a></td>
    	 		<td><%=ranking[i]["rating"]%></td>
    	 		<td><%=ranking[i]["contest"]%></td>
                <td><%=ranking[i]["problem"]%></td>
    	 	</tr>
    	 	<% }} %>
    	 </table>
         <div align = "center">
         <ul class ="pagination">    
            <% for(var i = start/20; i < LEN/20 && i - start/20 < 10; i++){ %>    
                <li><a href="/ranking/page/<%=parseInt(i+1)%>"><%=parseInt(i+1)%></a></li>
            <%}%>
            <% if(LEN/20  - start/20 > 10) { %>
            <li><a href="/ranking/page/<%=parseInt(start/20+10 + 1)%>">Next</a></li>
            <% } %>
            <% if(parseInt(start / 20) > 8) { %>
               <li><a href="/ranking/page/<%=parseInt(parseInt(start/20) - 8)%>">Prev</a></li>
            <% } %>
        </ul>
        </div>
    </div>

        
    <!--
    <div class="panel panel-primary" style="position:fixed;left:1050px;top:200px;width:280px;">
            <div class="panel-heading" align="center">
              <h3 class="panel-title">Upcoming Rounds</h3>
            </div>
            <div class="panel-body" align="center" id="timer">
              
            </div> -->
    </div>
    <% if (login) { %>
    <div class="alert alert-danger" style="position:absolute;top:80px;left:750px;width:300px;display:block" id = "tab">
      <button type="button" class="close" data-dismiss="alert" onClick = "closee()">×</button>
      <center>Incorrect Username/Password</center>
    </div>
    <% } %>
  </body>
  
   
  <script type = "text/javascript">
  var c = parseInt(<%= time %>);
  var no_of_contest = (<%= upcoming.length - 1%>);
  

  var time = new Date().getTime();
  var finish = c + time;
  if(c == -111000001010)
    document.getElementById("timer").innerHTML = "No Upcoming Contest";
  else{

      GetCount(c);
  }
       function GetCount(amount){
  //console.log(amount);
        if(amount < 0){
      
          document.getElementById("timer").innerHTML = '<a href="/contest/id/<%=upcoming[0]["id"]%>">Contest Started</a>';
        }
  
  else{
    var amount = finish - new Date().getTime();
    days = 0;hours = 0;mins = 0;secs = 0;out = "";
    currd = 0; currhr = 0; currmin = 0; currsec = 0; currt = "";
    amount = Math.floor(amount/1000);
    days=Math.floor(amount/86400);
    amount %= 86400;
          
    hours = Math.floor(amount/3600);
    amount %= 3600;
          
    mins = Math.floor(amount/60);
    amount %= 60;
          
    secs=Math.floor(amount);
          
    if(days != 0){out += days +" day"+((days!=1)?"s":"")+": ";}
    if(days != 0 || hours != 0){out += hours +" hr"+((hours!=1)?"s":"")+": ";}
    if(days != 0 || hours != 0 || mins != 0){out += mins +" min"+((mins!=1)?"":"")+": ";}
    out += secs +" sec";

    
    
    if(no_of_contest == 0)
      out = '<a href="/contest/id/<%=upcoming[0]["id"]%>" > <h4><u><%= upcoming[0]["name"]%></u></a></h4><br> Starts In:<h4>' + out + '</h4>';

    if(no_of_contest > 0)
      out = '<a href="/contest/id/<%=upcoming[0]["id"]%>" > <h4><u><%= upcoming[0]["name"]%></u></a></h4>' + '<h4><a href = "/Contests">and ' + no_of_contest + ' more.. </a></h4>' + '<br> Starts In:<h4>' + out + '</h4>';
    document.getElementById('timer').innerHTML = out;
        
    setTimeout("GetCount("+amount+")", 1000);
  }
}
    function closee(){
      document.getElementById('tab').style.display = 'none';
    }
    </script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-52998190-1', 'auto');
  ga('send', 'pageview');

</script>
</html>